# ==========================
# Frontend
# ==========================
node_modules/
dist/
dist-ssr/
*.local

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Python / Backend
# ==========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Database
*.db

# Python cache
.pytest_cache/
.mypy_cache/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code / IDE
# ==========================
.vscode/*
!.vscode/extensions.json
.idea/

# ==========================
# Build / Coverage
# ==========================
coverage/
